* {
  margin: 10 auto;
  padding: 20;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(164, 173, 176);
  width: 97%;
  padding: 10px;
  border-radius: 15px;
}
html {
  scroll-behavior: smooth;
}
nav {
  background-color: rgb(154, 154, 81);
  width: 50%;
  padding: 10px;
  border-radius: 200px;
  box-shadow: inset 0 0 10px #000000;
  margin: 10px auto;
  text-align: center;
  border-right: 0cap;
}
p {
  font-size: 18px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  font-weight: bold;
  font-style: italic;
}
.nav-list {
  cursor: black;
  text-decoration: none;
  padding: 10px;
}
.nav-ab {
  display: inline;
  padding: 10px;
  font-weight: 700;
  background-color: rgb(154, 154, 81);
  width: 50px;
  text-colour: white;
}
body {
  background-color: color(from color srgb r g b);
  text-emphasis-color: var(15px);
}
skills {
  font-size: 20px;
}
